#navigator {
	width: 225px;
	height: 176px;
}
#navigator .slider {
	margin: 7px 10px 10px;
	float: left;
	width: 120px;
}
#navigator #minimap {
	width: 100%;
	height: 120px;
}
.zoom-dropdown-btn {
	color: rgba(0, 0, 0, 0.45);
	margin-left: 4px;
	line-height: 24px;
	font-weight: 100;
	text-decoration: none;
}
