#jsoneditor {
	position: relative;
	padding: 5px;
	background: #565758;
	margin-top: -15px;
	color: white;
	height: 100%;
	overflow: scroll;
}

#jsoneditor .copy {
	position: absolute;
	top: 8px;
	right: 12px;
	transition: all 0.2s ease-in-out;
}

#jsoneditor .copy:hover {
	transform: scale(1.1);
}
